<h1>Products</h1>

<p>Add you a product</p>

<%= form_tag(controller: 'products', action: 'add', method: 'post') do %>
  <input name='product'>
  <input type='submit' value='add to cart'>
<% end %>

<ul>
  <% if cart != [] %>
    <% cart.each do |p| %>
      <li><%= p %></li>
    <% end %>
  <% end %>
</ul>
